div[class|="col"] {
	/* min-height:  350px; */
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

header {
	margin-bottom:  50px;
}

img {
	width:  100%;
}

#gallery {
	margin-bottom:  50px;
}

#gallery div[class|="col"] {
	padding:  0;
}